//Typography
body, .secondary-navigation a, .onsale, .pagination .page-numbers li .page-numbers:not(.current), .woocommerce-pagination .page-numbers li .page-numbers:not(.current) {
    color: $color_body!important;
}

.woocommerce-breadcrumb a, a.woocommerce-review-link, .product_meta a {
    color: $color-mid!important;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-dark !important;
}

.input-text, input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], textarea {
  background-color: $color-lightest;
  color: $color-mid;
}

.input-text:focus, input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus, textarea:focus {
  background-color: $color-lighter;
  color: $color-dark;
}


// modifying the background behavior of the site header
.site-header {
  background-size: cover !important;
}

//styling the page titles
.page-title {
  color: $color-darker;
}

//country check
.WooZone-country-check {
  margin-left: 0;
}

//here we're taking care of link colors in certain situations
.wc-tabs,.WooZone-country-check, .value {
  a {
    color: $color-accent!important;
    transition: .33s;
    &:hover {
      color: $color-accent-dark!important;
    }
  }
}

//This atrocity is so that stars can be styled with an accent color
p.stars.selected a.active:before, p.stars:hover a:before, p.stars.selected a:not(.active):before, p.stars.selected a.active:before, p.stars a {
  color: $color-accent!important;
}

//This cluster fuck is so review stars don't have shitty outlines
p.stars.selected a.active:before, p.stars:hover a:before, p.stars.selected a:not(.active):before, p.stars.selected a.active:before, p.stars a, a:focus, .button:focus, .button.alt:focus, .button.added_to_cart:focus, .button.wc-forward:focus, button:focus, input[type="button"]:focus {
    outline: none!important;
}

//styling the country checker
.WooZone-country-check {
  border-radius: $border-radius;
}

//styling the inventory available text
.WooZone-status-available {
  color: $color-success!important;
}

//buttons
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.added_to_cart,
.widget a.button,
.site-header-cart .widget_shopping_cart a.button {
  background-color: $color-darker !important;
  border-radius: $border-radius;
  outline: none!important;
  transition: .33s !important;
  &:hover {
    background-color: $color-darkest !important;
  }
}


//product card image
ul.products li.product img {
    display: block;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
ul.products li.product h3 {
  margin:1rem 0;
}

.flex {
  display: flex;
}

//styling the product card in a list view
.products {
  @extend .flex;
  .product {
    padding: 0 0 1rem 0;
    box-shadow: $box-shadow-1;
    border-radius: 4px;
    overflow: hidden;
  }
}

.single-product div.product {
  overflow: initial!important;
}

#respond {
  padding: 2.61792em 0!important;
}

//styling the info background color_body
.woocommerce-info, .woocommerce-noreviews, p.no-comments {
  background-color: $color-info!important;
}

//commenting + review section
.woocommerce-breadcrumb, #reviews .commentlist li .comment_container {
    background-color: white!important;
    box-shadow: $box-shadow-1;
}

//media queries
@media (min-width: $break-sm) {
  .site-header .site-branding {
    display: block;
    width: 21.73913%;
    float: left;
    margin-right: 4.34783%;
    clear: both;
    margin-bottom: 2.61792em;
  }
}
